body {
    overflow-x: hidden;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 13px;
    /* background-color: #f9faf9d5; */
    background: transparent;
    position: fixed;
    flex-wrap: wrap;
    
}

.menu-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-nav-item {
    text-transform: uppercase;
    text-decoration: none;
    color: gainsboro;
    padding: 0 25px;
}

.menu a {
    /* color:#64be68d5; */
    color:#fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu-nav a:hover{
    background: #05520b;
    color: #f0eeee;
}



/* cabecalho */

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: url(../img/back.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.cabecalho__container {
    margin: 0 auto;
    text-align: center;
}

.cabecalho__call-to-action {
    background-color: rgb(218, 218, 218);
    color: rgb(20, 110, 39);
    text-decoration: none;
    font-weight: bold;
    width: 17vw;
    height: 5vh;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.cabecalho__titulo, .cabecalho__descricao {
    color: rgba(255, 255, 255, 0.938);
    padding: 2%;
}

.cabecalho__titulo {
    font-family: 'Flamenco', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.cabecalho__descricao {
    margin-bottom: 4%;
}

/*cards */

.cards {
    max-width: 960px;
    margin: 5px auto;
    align-items: center;

}
.cards h1 {
    font-size: 2.25em;
    margin: 0 10px 60px 10px;
}

.container__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item__card{
    flex: 1 1 200px;
    margin: 10px;
    min-width: 170px;
    max-width: 400px;
    padding: 1.2em;
    align-items: center;
    border-radius: 6%;
    font-weight: bold;
    color: rgb(78, 78, 78);
}

.item__card h3{
    padding: 0.2em 0.1em;
    margin-bottom: 10px;
}

.backcard {
    background: linear-gradient( rgba(127, 211, 140, 0.70), rgba(127, 211, 140, 0.70)), url(../img/aquatica\ \(2\).jpg);
}

.backcard1 {
    background: linear-gradient( rgba(127, 211, 140, 0.70), rgba(127, 211, 140, 0.70)), url(../img/cacto.jpg);
}

.backcard2 {
    background: linear-gradient( rgba(127, 211, 140, 0.70), rgba(127, 211, 140, 0.70)), url(../img/flor.jpg);
}

h3 {
    font-size: 1.7rem;
    color: rgb(219, 228, 178);
}

.button__card {
    margin-top: 30px;
    text-align: center;
    max-width: 150px;
    background-color: rgba(255, 255, 255, 0.938);
    color: rgb(15, 141, 36);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5%;
    padding: 3% 8%;
    align-items: flex-end;
}

.item__card a {
    position: relative;
    align-self: flex-end;
    align-self: center;
}



/*Benefícios*/


.beneficios{
    max-width: 960px;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
}

.beneficios h1 {
    font-size: 2.25em;
    margin: 0 10px 60px 10px;
}

.beneficios-item{
    flex: 1 1 300px;
    margin: 20px 10px;
}

.beneficios-item h2{
    color: #a4a4a4;
}

.beneficios-item h2::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    background: #6dd372d5;
}

/* Contato */

.contato {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contato__cliente{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contato__dados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.contato__dados input {
    border-color: #C0C0C0;
    padding: 5px;
}

.contato__dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}


.contato__dados input {
    border: 1px solid rgba(235, 229, 229, 0.904);
    padding: 5px;
}

.contato div {
    display: flex;
    flex-direction: column;
    min-width: 70vh;
}

.contato__messagem label {
    text-align: left;
}

.contato__messagem input {
    display: block;
    border: 1px solid rgba(235, 229, 229, 0.904);
    padding: 5px 0;
}

.contato__messagem textarea {
    display: block;
    width: 100%;
    border: 1px solid rgba(235, 229, 229, 0.904);
    padding: 5px 0;

}

.contato__enviar {
    margin-top: 5px;
    width: 102%;
    background-color: #6dd372d5;
    color: white;
    padding: 3% 0;
    font-size: 100%;
    text-transform: uppercase;
    border-radius: 2px;
    border: #1a8cff;
}
/* Rodapé */

.rodape {
    background-color: #6dd372d5;
    height: 17vh;
}

.footer-container {
    padding-top: 1%;
}

.creditos-rodape {
    color: #fff;
    font-size: 0.7rem;
    line-height: 2em;
}


.rodape ul {
    list-style: none;
}

.rodape {
    text-align: center;
}

.rodape ul li {
    display: inline;
}

